

body{
    padding: 5%;
    margin: 5;
    border: 5;
    background-color:;
    color: white;
}

.bg-warning { 
    background-color: white;

}


.container { 
    padding: 5;
    margin: 15;
    border: 10;
    color: black;


} 






